extends layout

mixin link(href, name)
	a(href=href)= name

block content
	h1= title
	p
		a(href='/books/new_book' class='button') Create New Book
	p Filters&nbsp;
		a(href='/books') All
		.
			&nbsp;|&nbsp;
		a(href='/books/overdue_books') Overdue
		.
			&nbsp;|&nbsp;
		a(href='/books/checked_books') Checked Out
	table
		thead
			tr
				each val in ['Title', 'Author', 'Genre', 'Year Released']
					th= val
		tbody
			each book in books
				tr
					td
						+link('book_detail', book.title)
					each val in [book.author, book.genre, book.first_published]
						td=val















