extends layout

mixin link(href, name)
  a(class!=attributes.class href=href)= name

block content
    h1= title
    p
        +link('patrons/new_patron', 'Create New Patron')(class='button')
    table
        thead
            tr
                each val in ['Name', 'Address', 'Email', 'Library ID', 'ZIP']
                    th= val
        tbody
            each patron in patrons
                tr
                    td
                        +link('patrons/patron_detail/' + patron.id, patron.first_name + ' ' + patron.last_name)
                    each val in [patron.address, patron.email, patron.library_id, patron.zip_code]
                        td=val
