extends layout

mixin label(formElement, name)
	label(for=formElement)= name

mixin input(id, type, value)
	input(id=id type=type value=value)

block content
	h1 Patron: Return Book
	p
		strong Book Title:&nbsp;
		.
			Harry Potter and the Goblet of Fire
	p
		strong Loaned By:&nbsp;
		.
			Andrew Chalkley
	p
		strong Loaned On:&nbsp;
		.
			2015-12-11
	p
		strong Return By:&nbsp;
		.
			2015-12-18
	form
		p
			+label('returned_on', 'Returned on:')
			+input('returned_on', 'text', '2020-10-10')
		p
			+input('', 'submit', 'Return Book')
